@media (min-width: 768px)
{
	.modal-xl
	{
		width: 90%;
		max-width:1200px;
	}
}

.autotpl
{
	display: block;
	overflow: hidden;
	position: absolute;
	left: -999em;
}

.modal-header {
	cursor: move;
}

.error
{
	border: thin red solid;
	background-color: red;
	color: white;
}

.list-group-header
{
	font-weight: 500;
	color: white;
	background-color: #847EDD;
}

.modal-header, .modal-footer
{
	background-color: #e9ecef;
	color: black;
}

.modal-content, .modal
{
	border-radius: 20px !important;
}

.modal-header
{
	border-top-left-radius: 20px !important;
	border-top-right-radius: 20px !important;
}

.modal-footer
{
	border-bottom-left-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
}

.form-label
{
	font-weight: 700 !important;
}
